# .env
## Supabase
NEXT_PUBLIC_SUPABASE_URL=去supabase dashboard 看
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=去supabase dashboard 看

## TapPay
NEXT_PUBLIC_TAPPAY_APP_ID=去 tappay dashboard 看
NEXT_PUBLIC_TAPPAY_APP_KEY=去 tappay dashboard 看
NEXT_PUBLIC_TAPPAY_SERVER_TYPE=sandbox

# .env.test
## playwright
PLAYWRIGHT_TEST_EMAIL=demo@securecart.dev
PLAYWRIGHT_TEST_PASSWORD=xxxxxxxxxxxxx